/** given **/

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/** reset **/

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Raleway', sans-serif !important;
}